/* NAVBAR */
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px); /* Añade el efecto de blur */
}

/* Alineación de logo a la izquierda y menú a la derecha */
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
/* Alinear el menú mobile al centro cuando esté desplegado */
  .desktop-menu .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-left: inherit !important;
    text-decoration: none !important;
  }
  
  .desktop-menu  .navbar-nav .nav-item {
    margin: 1em 0;
    text-decoration: none !important; /* Espaciado horizontal */
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 2.6rem;
    font-family:  "Inter Display", "Inter Display Placeholder", sans-serif;
    text-decoration: none !important;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #fba64b;
    text-decoration: none !important;
  }
}

.navbar-expand-lg {
  padding-top: 1rem;
}

/* Mobile-specific style */
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
}

.navbar {
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* Versión escritorio sigue con el menú al centro*/
@media (min-width: 1024px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none !important;
  }
}

/* Estilos para los enlaces dentro del navbar */
.navbar-nav .nav-item .nav-link {
  font-size: 1rem; /* Tamaño de fuente para los enlaces del navbar */
  font-weight: 500;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif; /* Tipografía específica para el navbar */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  padding: 2rem; /* Espaciado para los enlaces */
  text-decoration: none !important; /* Sin subrayado */
}

.navbar-brand {
  margin-right: 0;
}

/* Hover en enlaces del navbar */
.navbar-nav .nav-item .nav-link:hover {
  color: #fba64b; /* Cambia el color al pasar el mouse */
  text-decoration: underline; /* Añade subrayado al hover */
}

/* Estilos generales para los botones */
.btn-primary {
  font-weight: 600!important;
  color: #ffffff!important;
  --bs-btn-border-color: 0px !important;
  background: linear-gradient(79deg, #5800E5, #3B0099 25%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-size: 500%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  align-items: center;
  text-align: center;
  line-height: 4.5%;
  padding: 1rem 1.5rem;
  margin: 1rem 0rem 1rem 0rem;
  --bs-btn-padding-x: 2rem !important;
  --bs-btn-padding-y: 0.8rem !important;
} 

/* Hover en botones */
.btn-primary:hover {
  background: linear-gradient(79deg, #5800E5, #ff5b8a 55%, #fba64b 77%, #f99b52);
  background-size: 130%;
}

.btn-secondary {
  font-weight: 600!important;
  color: #5800E5!important;
  border: 2px solid #5800E5 !important;
  background-color: white !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  align-items: center;
  text-align: center;
  padding: 0.8rem 1.2rem;
  margin: 1rem 0rem 1rem 0rem;
  --bs-btn-padding-x: 2rem !important;
  --bs-btn-padding-y: 0.8rem !important;
}

.btn-secondary:hover {
  background-color:#C099FF !important;
}


.btn-vibe {
  padding: 0.3rem 0.5rem;
  font-size: small;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid;
  border-radius: 1rem;
  transition: border-color 0.5s ease;
}

.label {
  font-size: 0.7rem;
}

.icon-vibe {
  display: inline-block;
}

body[data-bs-theme="dark"] .icon-vibe {
  color: #faffc3!important; 
}

body[data-bs-theme="light"] .icon-vibe {
  fill: #ffe100!important;  
}

.btn-vibe:hover .icon-vibe {
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#menu-style {
  font-size: 0.8rem;
}

/* Personalización del botón navbar-toggler */
.navbar-toggler {
  border: 1px solid; /* Quita el borde predeterminado */
  border-radius: 2rem; /* Ajusta el border-radius */
  padding: 0.5rem 0.5rem; /* Espaciado interno para centrar el texto */
  font-weight: bold;
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.navbar-toggler {
  position: relative;
  z-index: 1051; /* Más alto que el overlay */
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  --bs-navbar-color: none;
}

/* Oculta el ícono predeterminado de Bootstrap */
.navbar-toggler-icon {
  display: none;
}

/* Ajustes cuando el menú está abierto */
.navbar-toggler[aria-expanded="true"] #menu-style {
  content: "CLOSE"; /* Puedes cambiarlo a "CERRAR" si prefieres en español */
}

/* Alinear el menú en el centro en desktop */
@media (min-width: 1024px) {
  .desktop-menu {
    flex-grow: 1;
    justify-content: center;
  }
  
  .navbar .container-fluid {
    display: flex;
    align-items: center;
  }

  /* Logo a la izquierda, menú al centro, botón a la derecha */
  .navbar-brand {
    order: 1;
  }

  .desktop-menu {
    order: 2;
  }

  .btn-vibe {
    order: 3;
  }
}

/* Footer */
footer {
  background-color: #020005;
  color: #fff;
  text-align: center;
  clear: both;
  padding: 1em;
  font-size: 0.9rem;
}

footer p {
  margin: 0em !important;
}