/* Tema claro */
[data-bs-theme="light"] {
  --bs-body-bg: #f9f8f1!important; /* Fondo claro personalizado */
  --bs-body-color: #212529; /* Color del texto en tema claro */
  /* Añade más variables según sea necesario */
}

/* Tema oscuro */
[data-bs-theme="dark"] {
  --bs-body-bg: #181632!important;; /* Fondo oscuro personalizado */
  --bs-body-color: #f8f9fa; /* Color del texto en tema oscuro */
  /* Añade más variables según sea necesario */
}

/* NAVBAR */
.navbar {
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8); /* Cambia el color de fondo al hacer scroll */
  backdrop-filter: blur(10px); /* Añade el efecto de blur */
}

/* Alineación de logo a la izquierda y menú a la derecha */
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Definir colores para el elemento #typed-output según el tema */
.light-theme #typed-output {
  color: black;
}

.dark-theme #typed-output {
  color: white;
}

/* Toggler */

/* Estilo para hacer el toggler circular */
.custom-toggler {
  border: none;
  background-color: transparent;
  position: relative;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
  border-radius: 50%!important;
}

.custom-toggler .toggler-icon {
  position: relative;
  width: 2rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.custom-toggler .navbar-toggler-icon {
  width: 100%;
  height: 0.2rem;
  background-color: #212529;
  transition: all 0.3s ease;
}

/* Toggler icon color for dark mode */
body[data-bs-theme="dark"] .custom-toggler .navbar-toggler-text {
  color: #f9f8f1;
}

/* Crear la "X" con las dos líneas al abrir el menú */
.custom-toggler.open .navbar-toggler-icon:nth-child(1) {
  transform: rotate(45deg) translate(0.3rem, 0.3rem);
}

.custom-toggler.open .navbar-toggler-icon:nth-child(2) {
  transform: rotate(-45deg) translate(0.3rem, -0.3rem);
}

.custom-toggler .navbar-toggler-icon {
  margin: 0;
}

/* Ocultar "MENU" cuando el menú está abierto */
.custom-toggler.open .navbar-toggler-text {
  display: none;
}

/* Estilos para el menú en pantalla completa */
.full-screen-menu.collapse:not(.show) {
  display: none;
}

/* Mostrar "MENU" cuando el menú está cerrado */
.custom-toggler .navbar-toggler-text {
  font-size: 0.8rem;
  font-weight: bold;
  color: #212529;
  transition: opacity 0.3s ease;
  display: inline-block;
  text-align: center;
}

/* Toggler icon color for dark mode */
body[data-bs-theme="dark"] .custom-toggler .navbar-toggler-text {
  color: #f9f8f1;
}

/* Ensure vertical alignment on smaller screens */

@media (max-width: 992px) {
/* Alinear el menú mobile al centro cuando esté desplegado */
  .full-screen-menu.collapse.show {
    justify-content: center;
  }

  .full-screen-menu .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-left: inherit !important;
    text-decoration: none !important;
  }
  
  .full-screen-menu .navbar-nav .nav-item {
    margin: 1em 0;
    text-decoration: none !important;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 2.6rem;
    font-family: "Libre Caslon Text", serif;
    text-decoration: none !important;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #fba64b;
    text-decoration: none !important;
  }

/* Estilos del fondo y ajuste de posición para el menú móvil */
  .full-screen-menu {
    background-color: rgba(33, 37, 41, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    transition: all 0.3s ease;
  }
}

/* Versión escritorio sigue con el menú a la derecha */
@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none !important;
  }

  /* Ajustar los márgenes del botón de cambio de modo oscuro en escritorio */
  .btn {
    margin-left: 1rem;
  }
}

#auto-typing-output {
  font-size: 24px;
  font-weight: bold;
}

.bg-body-tertiary {
  background-color: white !important;
}

.btn {
  align-self: center; /* Centra verticalmente el botón de cambio de tema */
  margin-left: 0 !important; /* Evita cualquier desplazamiento hacia la derecha */
  text-align: center;
}

.header-item-2 {
  justify-items: right;
  align-items: right;
  justify-content: right;
  align-content: right;
}

.header-item-1-2 {
  display: flex;
  align-items: center;
}

/* Define un color específico para el icono */
#dl-icon {
  color: black; 
}

/* En el modo oscuro, asegúrate de que el icono se vea bien */
body[data-bs-theme="dark"] #dl-icon {
  color: white;
}

#intro h1 {
font-weight: 700;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1em;
}

.subtitle-1 {
  font-size: 1.5em;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.text-highlight{
  font-family: "Libre Caslon Text", serif;
  font-optical-sizing: auto;
  letter-spacing: -1.75px;
  font-weight: 400;
}

header button {
  margin-right: 10px;
}

/* Estilos para el intro */
#intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative; /* Ensures that the button is positioned relative to this section */
  overflow: hidden;
}

.content {
  place-items: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  top: 2.6em;
  position: absolute;
}

.text-intro {
  margin: auto;
  align-items: center;
}

h2 {
  text-align: left;
  font-size: 3em!important;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h3 {
  text-align: left;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 0.5em 0em 1em 0em;
}

.img-intro {
  width: 130px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

/* Mobile-specific style */
@media (max-width: 389px) {
  #intro .btn-primary {
    position: absolute;
    top: 30em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  #intro h1 {
    font-size: 2.5em;
    line-height: 100%;
  }

  #intro h2 {
    font-size: 1.6em !important;
    text-align: center;
  }
}

/* Mobile-specific style */
@media (min-width: 390px) and (max-width: 576px) {
  #intro .btn-primary {
    position: absolute;
    top: 36em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  #intro h1 {
    font-size: 2.9em;
    line-height: 110%;
  }

  #intro h2 {
    font-size: 1.6em !important;
    text-align: center;
  }
}

/* Mobile-specific style */
@media (min-width: 577px) and (max-width: 768px) {
  #intro .btn-primary {
    position: absolute;
    top: 28em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  #intro h1 {
    font-size: 3.2em;
    line-height: 99%; 
  }

  #intro h2 {
    font-size: 2em !important;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #intro h1 {
    font-size: 3.4em;
    line-height: 99%;
  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }

  #intro .btn-primary {
    position: absolute;
    top: 36em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #intro h1 {
    font-size: 3.8em;
    line-height: 98%;
    padding-top: 0.5rem; /* Para que aparezca la ñ */  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }

  #intro .btn-primary {
    position: absolute;
    top: 24em; /* Adjust this value for mobile */
    z-index: 1; /* Make sure it's above other content */
  }

  .mobile-break {
    display: none; /* By default (desktop), the span behaves like an inline element (no break) */

  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  #intro h1 {
    font-size: 4.2em;
    line-height: 98%;
    padding-top: 0.5rem; /* Para que aparezca la ñ */  }

  #intro .btn-primary {
    position: absolute;
    top: 28em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  .mobile-break {
    display: none; /* By default (desktop), the span behaves like an inline element (no break) */
  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  #intro h1 {
    font-size: 5.2em;
    line-height: 99%;
    padding-top: 0.5rem; /* Para que aparezca la ñ */
  }

  .text-intro {
    margin-top: 2.8rem;
  }

  #intro .btn-primary {
    position: absolute;
    z-index: 10; /* Make sure it's above other content */
    top: 34em; /* Adjust this value for mobile */
  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }

  .mobile-break {
    display: none; /* By default (desktop), the span behaves like an inline element (no break) */
  }
}

#i-love {
  display: inline-block; /* Ensures it's treated like a block-level element */
  margin-top: 0.5em; 
}

@media (max-width: 768px) {
  .rounded-section {
    margin: 1em;
    border-radius: 0 0 30px 30px
  }
}

.content {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-image-portfolio {
  align-items: center;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
}

.width-90 {
  width: 90%;
}

.portfolio-h1 {
  font-size: 4rem;
  margin: 2rem 0em;
}

.portfolio-h2 {
  margin: 2rem 0rem 1rem 0rem;
}

.small-title {
  font-size: 1rem !important;
  font-weight: 700;
}

.portfolio {
  padding: 2em;
  padding-bottom: 4em;
}

.portfolio h3 {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.portfolio h4 {
  font-size: 1.2em;
  text-align: left;
}

.image-portfolio:hover {
  transform: rotate(-6deg);
  transition: 0.5s;
}

.carousel-inner {
  border-radius: 1.5rem; /* Aplica borde redondeado al contenedor */
}

.carousel-item {
  border-radius: 1.5rem; /* Asegura que el borde redondeado sea consistente */
}

.border-radius {
  border-radius: 1.5rem; /* Asegura que el borde redondeado sea consistente */
}

.image-item {
  border-radius: 1.5rem; /* Asegura que el borde redondeado sea consistente */
}

#portfolio .card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.hover-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, filter 0.5s ease;
  display: block;
}

.image-container:hover .hover-image {
  transform: scale(1.1); /* Zoom in effect */
  filter: brightness(50%); /* Darken slightly */
}

/* Optional: Add an overlay with a slight color on hover */
.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent initially */
  transition: background-color 0.5s ease;
}

.image-container:hover::after {
  background-color: rgba(0, 0, 0, 0.3); /* Slight overlay on hover */
}


/* Estilos generales */
.border-radius {
  border-radius: 10px;
}

/* Media query para pantallas extra grandes (ajusta el breakpoint según necesites) */
.two-hero-images-container {
  max-width: 1000px; /* Ancho máximo en pantallas grandes */
}

.hero-image-container {
  max-width: 2000px; /* Ancho máximo en pantallas grandes */
}

/* Estilos para las imágenes hero */
.hero-image {
  width: 100%;
  display: block;
  object-fit: cover; /* O contain, según prefieras */
}

/*OUR SERVICES*/

.bd-placeholder-img {
  font-size: 4em;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.custom-bg-color {
  border: 1px solid #fcd6e9;
  background-color: white;
}

/* HOME - About me */

.display-5 {
  line-height: 98% !important;
}

#about {
  padding: 2em 2em;
  align-items: center;
}

#about h3 {
  font-weight: 300;
}

#about img {
  display: block; 
  margin: auto;
  max-width: 80%;
}

.objects-right-2 {
  float: right;
}

.objects-right {
  position: relative;
}

.col-lg-5 img {
  margin: 10px; /* Adds space between images */
}

.rotated-text {
  text-align: center; /* Para centrar el texto */
  transform: rotate(-5deg); /* Gira el texto */
}

.rotated-text p {
  font-size: 2rem;          /* Ajusta el tamaño del texto */
  font-weight: 500;        /* Otro estilo para resaltar el texto */
  background: #ffdddd;      /* Color de fondo */
  padding: 0.2rem 1rem;       /* Espaciado alrededor del texto */
  line-height: 1.6;         /* Espaciado entre líneas */
  display: inline;    /* Mantiene el fondo solo detrás del texto */
  margin: 0;                /* Elimina el margen por defecto */
}

/* HOME - COTACT ME */

#contact-me h2 {
  text-align: center;
}

#contact-me {
  font-size: 1em;
  height:70vh;
  display: flex;
  justify-content: center; /* Center horizontally with display:flex */
  align-items: center;     /* Center vertically with display:flex */
  position: relative; /* El contenedor principal tiene posición relativa */
  overflow: hidden; /* Para evitar que los gradientes desborden */
}

#contact-me.claro {
  background-color: #f9f8f1;
  color: #212529; /* Texto oscuro para el fondo claro */
  position: relative;
  z-index: 1;
}

#contact-me.oscuro {
  background-color: #181632;
  color: #f9f8f1; /* Texto claro para el fondo oscuro */
  position: relative;
  z-index: 1;
}

#contact-me::before {
  content: "";
  position: absolute; /* Coloca el gradiente en la capa inferior */
  z-index: 1; /* El gradiente queda por detrás del contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      ellipse at 30% 88%, 
      #fba64b,  
      rgba(0, 255, 0, 0) 40.71%
    ),
    radial-gradient(
      ellipse at 40% 90%, 
      hsl(343, 100%, 68%), 
      rgba(0, 255, 0, 0) 40%
    ),
    radial-gradient(
      ellipse at 70% 50%, 
      #1D9EFD, 
      rgba(0, 0, 255, 0) 42%
    );
  filter: blur(60px);
}

#contact-me .contact-content {
  position: relative; /* El contenido debe tener un z-index más alto que el fondo */
  z-index: 3; /* Coloca el contenido por encima del gradiente */
}

.rounded-block.claro {
  border-radius: 20px;
  box-shadow: 10 10px 10px 20px rgba(0, 0, 0, 0.1); /* Optional shadow */
  padding: 2.2rem 0rem;
  text-align: center;      /* Center text inside the block */
  background-color: #ffffff;
  align-items: center;
  z-index: 2;
  max-width: 70%; /* Ajusta el ancho máximo del contenedor */
}

.rounded-block.oscuro {
  border-radius: 20px;
  background: linear-gradient(0deg, 
  rgba(255, 255, 255, 0.015) 0.001%,
  rgba(255, 255, 255, 0.2) 100%);
  background-color: hsl(210, 11%, 5%);
  padding: 2.2em 0em;
  text-align: center;      /* Center text inside the block */
  z-index: 2;
  max-width: 70%; /* Ajusta el ancho máximo del contenedor */
}

/* Para pantallas pequeñas (mobile) */
@media (max-width: 991px) {
  .rounded-block.claro {
    max-width: 80%; /* Limita el ancho del contenedor al 90% de la pantalla */
  }
}

/* FOOTER */

footer {
  background-color: #181632;
  color: #fff;
  text-align: center;
  clear: both;
  padding: 1em;
}

footer p {
  margin: 0em !important;
}

a i {
  margin-left: 0.4rem; /* Puedes ajustar este valor según el espacio que desees */
}

#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #222;
}

/* PORTFOLIO PAGE */ 

.case-study h1 {
  text-align: left;
  font-size: 4em!important;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 100%;
  font-weight: 600;
}

.case-study {
  padding-top: 6rem;
}

.center-image {
  display: flex; 
  justify-content: center; 
}

/* Icon arrow alineado */
.p-note {
  text-align: center;
}

/* Remove padding and margins from the image container */
.no-padding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Make sure the image covers the full width */
.text-image img {
    height: auto;
    object-fit: cover;
    width: 880px;
    height: auto;
}

.title-text .h3-pag-portfolio {
  padding: 0em 0em 0em 0em !important;
}

.h3-pag-portfolio {
  font-size: 2.4rem;
}

/* More proyects */
#more-proyects {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Estilos para la navegación de proyectos (mobile por defecto) */
.project-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-align {
  margin-bottom: 1.5rem !important; /* Espacio entre los elementos */
}

/* Icon arrow alineado */
.bi {
vertical-align: 0rem;
}

#dl-icon-arrow {
  width: 32px;
  height: 32px;
}

/* Sección para más proyectos */
#more-proyects {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Estilos para la navegación de proyectos (mobile por defecto) */
.project-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-align {
  margin-bottom: 4rem; /* Espacio entre los elementos */
}

#more-proyects .subtitle-1 {
  font-weight: bold;
}

/* Media query para pantallas más grandes (desktop) */
@media (min-width: 992px) {
  .project-navigation {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
  }

  .col-align:nth-child(1) {
      text-align: left;
  }

  .col-align:nth-child(2) {
      text-align: right;
  }
}


/* ABOUT ME - PAGE  */

#about-me {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.customized-h1 {
  color: transparent;
  background-image: linear-gradient(79deg, #2b0aff, #ff5b8a 49%, #ff5b8a 55%, #fba64b 77%, #f99b52);;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 90%;
}

@media (min-width: 992px) {
  .customized-h1 {
    font-size: 8rem;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .customized-h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .customized-h1 {
    font-size: 3.5rem;
  }
}

#about-me .customized-h2 {
  color: transparent;
  background-image: linear-gradient(90deg, #f0357c, #f154ff, #777dff, #497ce2, #37bdde);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem !important;
  line-height: 90%;
}

@media (min-width: 992px) {
  #about-me .customized-h2 {
    font-size: 5rem !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #about-me .customized-h2 {
    font-size: 4rem !important;
  }
}

@media (max-width: 768px) {
  #about-me .customized-h2 {
    font-size: 3rem !important;
  }
}

.custom-col {
  flex: 1;
  padding: 5px;
}

#about-me img {
  width: 100%;
}

/* Estilos generales para los enlaces (href) */
a {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #212529; /* Color del texto en tema claro */
  transition: color 0.3s ease; /* Transición suave al cambiar el color */
}

/* Estilos de enlace en hover (href) */
a:hover {
  color: #fba64b; /* Cambia el color al pasar el mouse */
}

/* Estilos de enlace (href) externos */
.links-external { 
  text-decoration: underline;
  display: flex;
  color: #181632;
}

/* Estilos de enlace en modo oscuro */
body[data-bs-theme="dark"] #links-external {
  color: #f9f8f1; /* Color claro para enlaces en tema oscuro */
}

body[data-bs-theme="light"] #links-external {
  color: #ff5b8a; /* Color de hover en modo oscuro */
}

a {
  display: inline !important;
}

/* Estilos de enlace en modo oscuro */
body[data-bs-theme="dark"] a {
  color: #f9f8f1; /* Color claro para enlaces en tema oscuro */
}

body[data-bs-theme="dark"] a:hover {
  color: #ff5b8a; /* Color de hover en modo oscuro */
}

/* Estilos para los enlaces dentro del navbar */
.navbar-nav .nav-item .nav-link {
  font-size: 1rem; /* Tamaño de fuente para los enlaces del navbar */
  font-family: "Plus Jakarta Sans", sans-serif; /* Tipografía específica para el navbar */
  color: #212529; /* Color predeterminado del texto */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  padding: 1rem; /* Espaciado para los enlaces */
  text-decoration: none !important; /* Sin subrayado */
}

/* Hover en enlaces del navbar */
.navbar-nav .nav-item .nav-link:hover {
  color: #fba64b; /* Cambia el color al pasar el mouse */
  text-decoration: underline; /* Añade subrayado al hover */
}

/* Estilos en modo oscuro para el navbar */
body[data-bs-theme="dark"] .navbar-nav .nav-link {
  color: #f8f9fa; /* Texto claro para modo oscuro */
}

body[data-bs-theme="dark"] .navbar-nav .nav-link:hover {
  color: #ff5b8a; /* Color de hover para el modo oscuro */
}

/* Estilos generales para los botones */
.btn-primary {
  font-weight: 600!important;
  color: #ffffff!important;
  --bs-btn-border-color: 0px !important;
  background: linear-gradient(79deg, #2b0aff, #ff5b8a 49%, #ff5b8a 55%, #fba64b 77%, #f99b52);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-size: 300%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  align-items: center;
  text-align: center;
  line-height: 4.5%;
  padding: 1.4rem 2rem;
  margin: 1rem 0rem 1rem 0rem;
  --bs-btn-padding-x: 2rem !important;
  --bs-btn-padding-y: 0.8rem !important;
} 

/* Hover en botones */
.btn-primary:hover {
  background: linear-gradient(79deg, #2b0aff, #ff5b8a 49%, #ff5b8a 55%, #fba64b 77%, #f99b52);
  background-size: 200%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.btn-secondary {
  font-weight: 600!important;
  color: #2b0aff!important;
  border: 2px solid #2b0aff !important;
  background-color: white !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  align-items: center;
  text-align: center;
  padding: 1.4rem 2rem;
  margin: 1rem 0rem 1rem 0rem;
  --bs-btn-padding-x: 2rem !important;
  --bs-btn-padding-y: 0.8rem !important;
  border-radius: 2rem !important;
}

/* Estilos en modo oscuro para botones */
body[data-bs-theme="dark"] .btn-primary {
  color: #212529!important; /* Color de texto oscuro en el botón */
}

body[data-bs-theme="dark"] .btn-primary:hover {
  background: linear-gradient(79deg, #f9f8f1, #ff5b8a 30%, #ff5b8a 50%, #fba64b 77%, #f99b52);
}

/* General de gifs e imgs*/
.image-container {
  display:flex; /*Para usar align-self*/
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.image-container :hover{
  opacity: 0!important; 
}

.gif-image-wrap {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.gif-image-wrap :hover{
  opacity: 0 !important; 
}

.gif-image-wrap iframe {
  width: 100%;
  height: 100%;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16 / 9; /* Mantiene proporción 16:9 */
}

.aspect-ratio-4-3 {
  aspect-ratio: 4 / 3; /* Mantiene proporción 16:9 */
}

.row-about {
  display: flex;
  flex-wrap: wrap; /* Permitir que los GIFs se ajusten a nuevas filas */
  justify-content: center;
}

/* Pantallas menores a 768px (Small) */
@media (max-width: 768px) {
  .row-about {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    width: 100% !important;
  }

  .small-screen-center{
    align-self: center; /*Alinea al centro*/
    width: 100% !important;
    padding-bottom: 2rem;
  }

  .small-screen-left{
    align-self: flex-start; /*Alinea a la izquierda*/
    width: 60% !important;
    padding-bottom: 2rem;
  }
  
  .small-screen-right{
    align-self: flex-end; /*Alinea a la derecha*/
    width: 60% !important;
  }
}

.ul-icons-line {
  list-style-type: none;
  display: flex;
  padding-left: 0rem !important;
}

.li-icons-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  margin: 0 0.25rem;
  text-align: center;
}

.li-icons-line svg {
  width: 3rem;
  height: 3rem;
  color:#816e91;
  margin: 0.5rem;
}


.ul-icons-line.justify-content-between {
  justify-content: space-between; /* Distributes space evenly between icons */
}

.align-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none !important;
}

.links-container {
  display: flex;
  flex-direction: column; 
}

.problem-items {
    list-style-type: none;
}