/* Tema claro */
[data-bs-theme="light"] {
  --bs-body-bg: #F5F4EB; /* Fondo claro personalizado */
  --bs-body-color: #23005C; /* Color del texto */
}

/* Tema oscuro */
[data-bs-theme="dark"] {
  --bs-body-bg: #020005; /* Fondo oscuro personalizado */
  --bs-body-color: #f8f9fa; /* Color del texto en tema oscuro */
  /* Añade más variables según sea necesario */
}

/* Degradado radial en modo oscuro */
[data-bs-theme="dark"]::before {
  content: "";
  position: fixed;
  top: 40%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 1845px;
  height: 1230px;
  background: radial-gradient(50% 50% at 50% 50%, #23005C 0%, rgba(158, 110, 230, 0) 100%);
  opacity: 0.8;
  z-index: -1; /* Para que quede detrás del contenido */
  pointer-events: none; /* Para que no interfiera con la interacción */
}

/* NAVBAR */
.navbar {
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8); /* Cambia el color de fondo al hacer scroll */
  backdrop-filter: blur(10px); /* Añade el efecto de blur */
}

/* Alineación de logo a la izquierda y menú a la derecha */
.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}

/* Toggler */


@media (max-width: 992px) {
/* Alinear el menú mobile al centro cuando esté desplegado */
  .desktop-menu .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-left: inherit !important;
    text-decoration: none !important;
  }
  
  .desktop-menu  .navbar-nav .nav-item {
    margin: 1em 0;
    text-decoration: none !important;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 2.6rem;
    font-family: "Libre Caslon Text", serif;
    text-decoration: none !important;
  }

  .navbar-nav .nav-item .nav-link:hover {
    color: #fba64b;
    text-decoration: none !important;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 2rem;
  padding: 0.5rem 0.8rem;
}

/* Versión escritorio sigue con el menú al centro*/
@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none !important;
  }
}

/* Definir colores para el elemento #typed-output según el tema */
.light-theme #typed-output {
  color: #23005C;
}

.dark-theme #typed-output {
  color: white;
}

[data-bs-theme="light"] #intro .custom-dark {
  color: #23005C;
}

[data-bs-theme="dark"] .text-gradient {
  color: transparent;
  background-image: radial-gradient(70.54% 70.54% at 50% 50%, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.573) 92.71%, rgba(255, 255, 255, 0.6) 92.72%);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


#auto-typing-output {
  font-size: 24px;
  font-weight: bold;
}

.header-item-2 {
  justify-items: right;
  align-items: right;
  justify-content: right;
  align-content: right;
}

.header-item-1-2 {
  display: flex;
  align-items: center;
}

#intro h1 {
font-weight: 700;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1em;
}

.subtitle-1 {
  font-size: 1.5em;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.section-title {
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -1.75px;
  font-weight: 400;
}

/* Estilos para el intro */
#intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative; /* Ensures that the button is positioned relative to this section */
  overflow: hidden;
}

.content {
  place-items: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  top: 2.6em;
  position: absolute;
  text-align: center;
  max-width: 80vw;
}

.text-intro {
  margin: auto;
  align-items: center;
}

h2 {
  text-align: left;
  font-size: 3em!important;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
}

h3 {
  text-align: left;
  font-weight: 400;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  padding: 0.4rem 0rem 0.4rem 0rem;
}

.img-intro {
  width: 130px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

/* Mobile-specific style */
@media (max-width: 389px) {
  #intro .btn-primary {
    position: absolute;
    top: 30em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  #intro h1 {
    font-size: 2.5em;
    line-height: 100%;
  }

  #intro h2 {
    font-size: 1.6em !important;
    text-align: center;
  }
}

/* Mobile-specific style */
@media (min-width: 390px) and (max-width: 576px) {
  #intro .btn-primary {
    position: absolute;
    top: 36em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  #intro h1 {
    font-size: 2.9em;
    line-height: 110%;
  }

  #intro h2 {
    font-size: 1.6em !important;
    text-align: center;
  }
}

/* Mobile-specific style */
@media (min-width: 577px) and (max-width: 768px) {
  #intro .btn-primary {
    position: absolute;
    top: 28em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  #intro h1 {
    font-size: 3.2em;
    line-height: 99%; 
  }

  #intro h2 {
    font-size: 2em !important;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #intro h1 {
    font-size: 3.4em;
    line-height: 99%;
  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }

  #intro .btn-primary {
    position: absolute;
    top: 36em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #intro h1 {
    font-size: 3.8em;
    line-height: 98%;
    padding-top: 0.5rem; /* Para que aparezca la ñ */  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }

  #intro .btn-primary {
    position: absolute;
    top: 24em; /* Adjust this value for mobile */
    z-index: 1; /* Make sure it's above other content */
  }

  .mobile-break {
    display: none; /* By default (desktop), the span behaves like an inline element (no break) */

  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  #intro h1 {
    font-size: 4.2em;
    line-height: 98%;
    padding-top: 0.5rem; /* Para que aparezca la ñ */  }

  #intro .btn-primary {
    position: absolute;
    top: 28em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  .mobile-break {
    display: none; /* By default (desktop), the span behaves like an inline element (no break) */
  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  #intro h1 {
    font-size: 6rem;
    line-height: 99%;
    padding-top: 0.5rem; /* Para que aparezca la ñ */
  }

  .text-intro {
    margin-top: 2.8rem;
  }

  #intro .btn-primary {
    position: absolute;
    z-index: 10; /* Make sure it's above other content */
    top: 34em; /* Adjust this value for mobile */
  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }

  .mobile-break {
    display: none; /* By default (desktop), the span behaves like an inline element (no break) */
  }
}

@media (max-width: 768px) {
  .rounded-section {
    margin: 1em;
    border-radius: 0 0 30px 30px
  }
}

/* PORFOLIO PAGE */

.hero-image-portfolio {
  align-items: center;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
}

.width-90 {
  width: 90%;
}

.portfolio-h1 {
  font-size: 4rem;
  margin: 2rem 0em;
  color: #23005C;
}

.portfolio-h2 {
  margin: 2rem 0rem 1rem 0rem;
  color: #23005C;
}

.small-title {
  font-size: 1rem !important;
  font-weight: 700;
}

.portfolio {
  padding: 2em;
  padding-bottom: 4em;
}

.portfolio h3 {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.carousel-inner {
  border-radius: 2rem; /* Aplica borde redondeado al contenedor */
}

.carousel-item {
  border-radius: 2rem; /* Asegura que el borde redondeado sea consistente */
}

.border-radius {
  border-radius: 2rem; /* Asegura que el borde redondeado sea consistente */
}

.image-item {
  border-radius: 2rem; /* Asegura que el borde redondeado sea consistente */
}

#my-work .project-card {
  transition: transform 0.2s;
  --bs-card-border-color: none;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}

/* Imagen con zoom y oscurecimiento en hover */
.hover-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, filter 0.5s ease;
  display: block;
  border-radius: 2rem;
}

.image-container:hover .hover-image {
  transform: scale(1.1); /* Zoom in effect */
  filter: brightness(50%); /* Darken slightly */
  border-radius: 2rem;
}

/* overlay with a slight color on hover */
.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent initially */
  transition: background-color 0.5s ease;
  border-radius: 2rem;
}

.image-container:hover::after {
  background-color: rgba(0, 0, 0, 0.3); /* Slight overlay on hover */
  border-radius: 2rem;
}

/* Go icons styles */
.go-icon-container {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.1s ease-out;
  pointer-events: none; /* No interfiere con el cursor */
}

/* Posición inicial en el centro */
.image-container:hover .go-icon-container {
  opacity: 1;
}

/* Estilos generales */

/* Media query para pantallas extra grandes (ajusta el breakpoint según necesites) */
.two-hero-images-container {
  max-width: 1000px; /* Ancho máximo en pantallas grandes */
}

.hero-image-container {
  max-width: 2000px; /* Ancho máximo en pantallas grandes */
}

/* Estilos para las imágenes hero */
.hero-image {
  width: 100%;
  display: block;
  object-fit: cover; /* O contain, según prefieras */
}

/*OUR SERVICES*/

.bd-placeholder-img {
  font-size: 4em;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

/* Botón para cambiar entre modo claro y oscuro */
.theme-icon-text-container {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente al centro */
  gap: 10px; /* Añade un espacio de 10 píxeles entre el icono y el texto */
}

.bi {
  vertical-align: 0rem;
}
  
.dl-icon-arrow {
  width: 32px;
  height: 32px;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* HOME - About me */

#about {
  padding: 2rem 2rem;
  align-items: center;
}

#about h3 {
  font-weight: 300;
}

#about img {
  display: block; 
  margin: auto;
  max-width: 80%;
}

.objects-right-2 {
  float: right;
}

.objects-right {
  position: relative;
}

.col-lg-5 img {
  margin: 10px; /* Adds space between images */
}

/* HOME - CONTACT ME */

#contact-me h2 {
  text-align: center;
}

#contact-me {
  font-size: 1em;
  display: flex;
  justify-content: center; /* Center horizontally with display:flex */
  align-items: center;     /* Center vertically with display:flex */
  position: relative; /* El contenedor principal tiene posición relativa */
  overflow: hidden; /* Para evitar que los gradientes desborden */
}

/* Modo claro */
[data-bs-theme="light"] #contact-me {
  background-color: #F5F4EB;
  color: #23005C;
}

[data-bs-theme="light"] .rounded-block {
border-radius: 20px;
box-shadow: 10 10px 10px 20px rgba(0, 0, 0, 0.1); /* Optional shadow */
padding: 2.2rem 0rem;
text-align: center;      /* Center text inside the block */
background-color: #ffffff;
align-items: center;
z-index: 2;
max-width: 70%; /* Ajusta el ancho máximo del contenedor */
}

[data-bs-theme="light"] #contact-me .rounded-block h2 {
  color: #23005C !important;
}

/* Modo oscuro */
[data-bs-theme="dark"] #contact-me {
  background-color: #020005;
  color: white;
}

[data-bs-theme="dark"] .rounded-block {
  border-radius: 20px;
  background: radial-gradient(65% 62% at -22.4% -3.3%, rgb(45, 0, 61) 0%, rgb(13, 13, 28) 100%);
  padding: 2.2em 0em;
  text-align: center;      /* Center text inside the block */
  z-index: 2;
  max-width: 70%; /* Ajusta el ancho máximo del contenedor */
}

[data-bs-theme="dark"] #contact-me .rounded-block h2 {
  color: #f9f8f1 !important;;
}

/* FOOTER */

footer {
  background-color: #020005;
  color: #fff;
  text-align: center;
  clear: both;
  padding: 1em;
}

footer p {
  margin: 0em !important;
}

a i {
  margin-left: 0.4rem; /* Puedes ajustar este valor según el espacio que desees */
}

#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PORTFOLIO PAGE */ 

.case-study h1 {
  text-align: left;
  font-size: 4em!important;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  line-height: 100%;
  font-weight: 600;
}

.case-study {
  padding-top: 6rem;
}

.center-image {
  display: flex; 
  justify-content: center; 
}

/* Icon arrow alineado */
.p-note {
  text-align: center;
}

/* Remove padding and margins from the image container */
.no-padding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Make sure the image covers the full width */
.text-image img {
    height: auto;
    object-fit: cover;
    width: 880px;
    height: auto;
}

.h3-pag-portfolio {
  font-size: 2.4rem;
}

/* More proyects */
#more-proyects {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Estilos para la navegación de proyectos (mobile por defecto) */
.project-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-align {
  margin-bottom: 1.5rem !important; /* Espacio entre los elementos */
}

/* Sección para más proyectos */
#more-proyects {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Estilos para la navegación de proyectos (mobile por defecto) */
.project-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-align {
  margin-bottom: 4rem; /* Espacio entre los elementos */
}

#more-proyects .subtitle-1 {
  font-weight: bold;
}

/* Media query para pantallas más grandes (desktop) */
@media (min-width: 992px) {
  .project-navigation {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
  }

  .col-align:nth-child(1) {
      text-align: left;
  }

  .col-align:nth-child(2) {
      text-align: right;
  }
}


/* ABOUT ME - PAGE  */

#about-me {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#about-me .customized-h2 {
  color: transparent;
  background-image: linear-gradient(90deg, #f0357c, #f154ff, #777dff, #497ce2, #37bdde);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem !important;
  line-height: 90%;
}

@media (min-width: 992px) {
  #about-me .customized-h2 {
    font-size: 5rem !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #about-me .customized-h2 {
    font-size: 4rem !important;
  }
}

@media (max-width: 768px) {
  #about-me .customized-h2 {
    font-size: 3rem !important;
  }
}

.custom-col {
  flex: 1;
  padding: 5px;
}

#about-me img {
  width: 100%;
}

.colorful-text {
  color: transparent;
  background-image: linear-gradient(130deg, rgb(241, 58, 238) -9.41449%, rgb(44, 90, 255) 110.686%, rgb(100, 246, 255) 175.912%);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.highlight-text-1 {
  line-height: 105% !important;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
}

.highlight-text-2 {
  line-height: 105% !important;
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
}

/* Estilos generales para los enlaces (href) */
a {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #23005C; /* Color del texto en tema claro */
  transition: color 0.3s ease; /* Transición suave al cambiar el color */
}

/* Estilos de enlace en hover (href) */
a:hover {
  color: #fba64b; /* Cambia el color al pasar el mouse */
}

/* Estilos de enlace (href) externos */
.links-external { 
  text-decoration: underline;
  display: flex;
  color: #181632;
}

/* Estilos de enlace en modo oscuro */
body[data-bs-theme="dark"] #links-external {
  color: #f9f8f1; /* Color claro para enlaces en tema oscuro */
}

body[data-bs-theme="light"] #links-external {
  color: #ff5b8a; /* Color de hover en modo oscuro */
}

a {
  display: inline !important;
}

/* Estilos de enlace en modo oscuro */
body[data-bs-theme="dark"] a {
  color: #f9f8f1; /* Color claro para enlaces en tema oscuro */
}

body[data-bs-theme="dark"] a:hover {
  color: #ff5b8a; /* Color de hover en modo oscuro */
}

/* Estilos para los enlaces dentro del navbar */
.navbar-nav .nav-item .nav-link {
  font-size: 1rem; /* Tamaño de fuente para los enlaces del navbar */
  font-weight: 500;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif; /* Tipografía específica para el navbar */
  transition: color 0.3s ease, text-decoration 0.3s ease;
  padding: 2rem; /* Espaciado para los enlaces */
  text-decoration: none !important; /* Sin subrayado */
}

.navbar-brand {
  margin-right: 0;
}

body[data-bs-theme="dark"] .navbar-nav .nav-item .nav-link {
  color: #f9f8f1; /* Color claro para enlaces en tema oscuro */
}

body[data-bs-theme="light"] .navbar-nav .nav-item .nav-link {
  color: #23005C; /* Color claro para enlaces en tema oscuro */
}

/* Hover en enlaces del navbar */
.navbar-nav .nav-item .nav-link:hover {
  color: #fba64b; /* Cambia el color al pasar el mouse */
  text-decoration: underline; /* Añade subrayado al hover */
}

/* Estilos en modo oscuro para el navbar */
body[data-bs-theme="dark"] .navbar-nav .nav-link {
  color: #f8f9fa; /* Texto claro para modo oscuro */
}

body[data-bs-theme="dark"] .navbar-nav .nav-link:hover {
  color: #ff5b8a; /* Color de hover para el modo oscuro */
}

/* Estilos generales para los botones */
.btn-primary {
  font-weight: 600!important;
  color: #ffffff!important;
  --bs-btn-border-color: 0px !important;
  background: linear-gradient(79deg, #2b0aff, #ff5b8a 49%, #ff5b8a 55%, #fba64b 77%, #f99b52);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-size: 500%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
  align-items: center;
  text-align: center;
  line-height: 4.5%;
  padding: 1.4rem 2rem;
  margin: 1rem 0rem 1rem 0rem;
  --bs-btn-padding-x: 2rem !important;
  --bs-btn-padding-y: 0.8rem !important;
} 

.btn-vibe {
  padding: 0.3rem 0.5rem;
  font-size: small;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid;
  border-radius: 1rem;
  transition: border-color 0.5s ease;
}

body[data-bs-theme="dark"] .btn-vibe {
  border-color: #604D80!important;
}

body[data-bs-theme="light"] .btn-vibe {
  border-color: #140033;
}

.label {
  font-weight: 400 !important;
}

.icon-vibe {
  display: inline-block;
}

body[data-bs-theme="dark"] .icon-vibe {
  color: #faffc3!important; 
}

body[data-bs-theme="light"] .icon-vibe {
  fill: #ffe100!important;  
}

.btn-vibe:hover .icon-vibe {
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hover en botones */
.btn-primary:hover {
  background: linear-gradient(79deg, #2b0aff, #ff5b8a 49%, #ff5b8a 55%, #fba64b 77%, #f99b52);
  background-size: 200%;
}

.btn-secondary {
  font-weight: 600!important;
  color: #2b0aff!important;
  border: 2px solid #2b0aff !important;
  background-color: white !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  align-items: center;
  text-align: center;
  padding: 1.4rem 2rem;
  margin: 1rem 0rem 1rem 0rem;
  --bs-btn-padding-x: 2rem !important;
  --bs-btn-padding-y: 0.8rem !important;
  border-radius: 2rem !important;
}

/* Estilos en modo oscuro para botones */
body[data-bs-theme="dark"] .btn-primary {
  color: #212529!important; /* Color de texto oscuro en el botón */
}

body[data-bs-theme="dark"] .btn-primary:hover {
  background: linear-gradient(79deg, #f9f8f1, #ff5b8a 30%, #ff5b8a 50%, #fba64b 77%, #f99b52);
}

/* General de gifs e imgs*/
.image-container {
  display:flex; /*Para usar align-self*/
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.image-container :hover{
  opacity: 0!important; 
}

.gif-image-wrap {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.gif-image-wrap :hover{
  opacity: 0 !important; 
}

.gif-image-wrap iframe {
  width: 100%;
  height: 100%;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16 / 9; /* Mantiene proporción 16:9 */
}

.aspect-ratio-4-3 {
  aspect-ratio: 4 / 3; /* Mantiene proporción 16:9 */
}

.row-about {
  display: flex;
  flex-wrap: wrap; /* Permitir que los GIFs se ajusten a nuevas filas */
  justify-content: center;
}

/* Pantallas menores a 768px (Small) */
@media (max-width: 768px) {
  .row-about {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    width: 100% !important;
  }

  .small-screen-center{
    align-self: center; /*Alinea al centro*/
    width: 100% !important;
    padding-bottom: 2rem;
  }

  .small-screen-left{
    align-self: flex-start; /*Alinea a la izquierda*/
    width: 60% !important;
    padding-bottom: 2rem;
  }
  
  .small-screen-right{
    align-self: flex-end; /*Alinea a la derecha*/
    width: 60% !important;
  }
}

.ul-icons-line {
  list-style-type: none;
  display: flex;
  padding-left: 0rem !important;
}

.li-icons-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  margin: 0 0.25rem;
  text-align: center;
}

.li-icons-line svg {
  width: 3rem;
  height: 3rem;
  color:#816e91;
  margin: 0.5rem;
}


.ul-icons-line.justify-content-between {
  justify-content: space-between; /* Distributes space evenly between icons */
}

.align-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none !important;
}

.links-container {
  display: flex;
  flex-direction: column; 
}

.problem-items {
    list-style-type: none;
}