/* ABOUT ME - PAGE  */

#about-me-presentation {
  padding-top: 10rem;
}

#about-me-presentation h1 {
  font-size: 4rem!important;
}

@media (min-width: 992px) {
  #about-me .customized-h2 {
    font-size: 5rem !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #about-me .customized-h2 {
    font-size: 4rem !important;
  }
}

@media (max-width: 768px) {
  #about-me .customized-h2 {
    font-size: 3rem !important;
  }
}


.custom-col {
  flex: 1;
  padding: 5px;
}

#about-me img {
  width: 100%;
}

#menu-style {
  font-size: 0.8rem;
}

/* PORFOLIO PAGE */

.hero-image-portfolio {
  align-items: center;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
}

.width-90 {
  width: 90%;
}

.small-title {
  font-size: 1rem !important;
  font-weight: 700;
}

.carousel-inner {
  border-radius: 1.2rem; /* Aplica borde redondeado al contenedor */
}

.carousel-item {
  border-radius: 1.2rem; /* Asegura que el borde redondeado sea consistente */
}

.border-radius {
  border-radius: 1.2rem; /* Asegura que el borde redondeado sea consistente */
}

.image-item {
  border-radius: 1.2rem; /* Asegura que el borde redondeado sea consistente */
}

#my-work .project-card {
  transition: transform 0.2s;
  --bs-card-border-color: none;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 1.2rem;
}

/* Imagen con zoom y oscurecimiento en hover */
.hover-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, filter 0.5s ease;
  display: block;
  border-radius: 1.2rem;
}

.image-container:hover .hover-image {
  transform: scale(1.1); /* Zoom in effect */
  filter: brightness(50%); /* Darken slightly */
  border-radius: 1.2rem;
}

/* overlay with a slight color on hover */
.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent initially */
  transition: background-color 0.5s ease;
  border-radius:1.2rem;
}

.image-container:hover::after {
  background-color: rgba(0, 0, 0, 0.3); /* Slight overlay on hover */
  border-radius: 1.2rem;
}

/* Go icons styles */
.go-icon-container {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
  opacity: 0;
  transition: opacity 0.2s ease-out, transform 0.1s ease-out;
  pointer-events: none; /* No interfiere con el cursor */
}

/* Posición inicial en el centro */
.image-container:hover .go-icon-container {
  opacity: 1;
}

.card-link {
  text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
  color: inherit; /* Hereda el color del texto del padre (si es necesario) */
}

.card-link:hover {
  text-decoration: underline; /* Agrega el subrayado al pasar el ratón */
}

