/* SECCIÓN 1 -  */

#intro h1 {
font-weight: 700;
}

/* SECCIÓN # - ABOUT ME */

#about {
  padding: 2rem 2rem;
  align-items: center;
}

#about img {
  display: block; 
  margin: auto;
  max-width: 80%;
}

.objects-right-2 {
  float: right;
}

.objects-right {
  position: relative;
}

.col-lg-5 img {
  margin: 10px; /* Adds space between images */
}

/* HOME - CONTACT ME */

#contact-me h2 {
  text-align: center;
}

#contact-me {
  display: flex;
  justify-content: center; /* Center horizontally with display:flex */
  align-items: center;     /* Center vertically with display:flex */
  position: relative; /* El contenedor principal tiene posición relativa */
  overflow: hidden; /* Para evitar que los gradientes desborden */
  text-align: center;
}

#contact-me .subtitle-1 {
  line-height: 103%;
}

/* Modo claro */
[data-bs-theme="light"] #contact-me {
  background-color: #F5F4EB;
  color: #23005C;
}

[data-bs-theme="light"] .rounded-block {
border-radius: 20px;
box-shadow: 10 10px 10px 20px rgba(0, 0, 0, 0.1); /* Optional shadow */
text-align: center;      /* Center text inside the block */
background-color: #ffffff;
align-items: center;
z-index: 2;
}

[data-bs-theme="light"] #contact-me .rounded-block h2 {
  color: #23005C !important;
}

/* Modo oscuro */
[data-bs-theme="dark"] #contact-me {
  background-color: #020005;
  color: white;
}

[data-bs-theme="dark"] .rounded-block {
  border-radius: 20px;
  background: radial-gradient(65% 62% at -22.4% -3.3%, rgb(45, 0, 61) 0%, rgb(13, 13, 28) 100%);
  text-align: center;      /* Center text inside the block */
  z-index: 2;
}

[data-bs-theme="dark"] #contact-me .rounded-block h2 {
  color: #f9f8f1 !important;;
}

@media (max-width: 991px) {
  .rounded-block {
    max-width: 90%;
  }
}

a i {
  margin-left: 0.4rem; /* Puedes ajustar este valor según el espacio que desees */
}

#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el intro */
#intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  max-width: 80vw;
  position: relative; /* Ensures that the button is positioned relative to this section */
  overflow: hidden;
}

@media (min-width: 576px) and (max-width: 991px) {
  #intro {
    height: 88vh;
  }
}

#presentation {
  place-items: center;
  align-items: center;
  justify-content: center;
  top: 2.6em;
  position: absolute;
  text-align: center;
}

.text-intro {
  align-items: center;
}

.img-intro {
  width: 8rem;
  height: 4.3rem;
  border-radius: 3rem;
  object-fit: cover;
}

/* Mobile-specific style */
@media (min-width: 390px) and (max-width: 576px) {
  #intro .btn-primary {
    position: absolute;
    top: 36em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }

  #intro h1 {
    font-size: 2.2em;
    line-height: 110%;
  }

  #intro h2 {
    font-size: 1.6em !important;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #intro h1 {
    font-size: 3.4em;
    line-height: 99%;
  }

  #intro h2 {
    font-size: 2.4em !important;
    text-align: center;
  }

  #intro .btn-primary {
    position: absolute;
    top: 36em; /* Adjust this value for mobile */
    z-index: 10; /* Make sure it's above other content */
  }
}