/* ========================================
    4️⃣ LAYOUT
   ========================================  */
/* Containers, grid system, section, header, hero, footer, sections */

/* ----- Containers ----- */
.container-full {
  width: 100%;
  margin-inline: auto;
}

/* Variants (percent + max-width) */
.container--sm { width: 48%; max-width: 40rem; margin-inline: auto;}
.container--md { width: 54%; max-width: 52rem; margin-inline: auto;}
.container--lg { width: 80%; max-width: 80rem; margin-inline: auto;}
.container--xl { width: 92%;   max-width: 90rem; margin-inline: auto;}

/* Responsive override */
/* ----- Between 992px and 1200px → all containers = 80% ----- */
@media (min-width: 992px) and (max-width: 1200px){
  .container--sm,
  .container--md,
  .container--lg,
  .container--xl {
    width: 76%;
    max-width: unset; /* ← opcional pero recomendado */
  }
}

/* ----- Below 992px → all containers = 90% ----- */
@media (max-width: 991px) {
  .container--sm,
  .container--md,
  .container--lg,
  .container--xl {
    width: 86%;
    max-width: unset; /* ← opcional pero recomendado */
  }
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
}





/* ----- Sections ----- */
/* Space between big sections */
section + section {
  margin-block-start: var(--section-space-lg);
}

/* Space between sub-sections */
.subsection + .subsection {
  margin-block-start: var(--section-space-md);
}


/* ----- Sections ----- */
/* Space between big sections */
section + section {
  margin-block-start: var(--section-space-lg);
}

/* Space between sub-sections */
.subsection + .subsection {
  margin-block-start: var(--section-space-md);
}



/* Media query para pantallas extra grandes (ajusta el breakpoint según necesites) */
.two-hero-images-container {
  max-width: 1000px; /* Ancho máximo en pantallas grandes */
}

.hero-image-container {
  max-width: 2000px; /* Ancho máximo en pantallas grandes */
}

/* Estilos para las imágenes hero */
.hero-image {
  width: 100%;
  display: block;
  object-fit: cover; /* O contain, según prefieras */
}

/* General de gifs e imgs*/
.image-container {
  display:flex; /*Para usar align-self*/
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.gif-image-wrap {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1.2rem;
}

.gif-image-wrap iframe {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16 / 9; /* Mantiene proporción 16:9 */
  border-radius: 1.2rem;
}

.aspect-ratio-4-3 {
  aspect-ratio: 4 / 3; /* Mantiene proporción 16:9 */
  border-radius: 1.2rem;
}

.row-about {
  display: flex;
  flex-wrap: wrap; /* Permitir que los GIFs se ajusten a nuevas filas */
  justify-content: center;
}

.image-about-container {
  border-radius: 1.2rem;
  display:flex; /*Para usar align-self*/
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

/* Pantallas menores a 768px (Small) */
@media (max-width: 768px) {
  .row-about {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    width: 100% !important;
  }

  .small-screen-center{
    align-self: center; /*Alinea al centro*/
    width: 100% !important;
    margin-bottom: 2rem;
  }

  .small-screen-left{
    align-self: flex-start; /*Alinea a la izquierda*/
    width: 60% !important;
    margin-bottom: 2rem;
  }
  
  .small-screen-right{
    align-self: flex-end; /*Alinea a la derecha*/
    width: 60% !important;
  }
}

.ul-icons-line {
  list-style-type: none;
  display: flex;
  padding-left: 0rem !important;
}

.li-icons-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  margin: 0.25rem;
  text-align: center;
}

.li-icons-line svg {
  width: 3rem;
  height: 3rem;
  color:#816e91;
  margin: 0.5rem;
}

.ul-icons-line.justify-content-between {
  justify-content: space-between; /* Distributes space evenly between icons */
}

.align-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none !important;
}

.links-container {
  display: flex;
  flex-direction: column; 
}

.problem-items {
  list-style-type: none;
} 

.list li {
  margin-bottom: 0.6rem; /* Ajusta el valor según el espacio que desees */
}

/* Si no quieres margen en el último elemento, puedes eliminarlo así: */
ul li:last-child {
  margin-bottom: 0;
}

h1 {
    font-size: large;
}



/* Alinear el menú en el centro en desktop */
@media (min-width: 992px) {
  .desktop-menu {
    flex-grow: 1;
    justify-content: center;
  }
  
  .navbar .container-fluid {
    display: flex;
    align-items: center;
  }

  /* Logo a la izquierda, menú al centro, botón a la derecha */
  .navbar-brand {
    order: 1;
  }

  .desktop-menu {
    order: 2;
  }

  .btn-vibe {
    order: 3;
  }
}

/* Overlay inicial (oculto) */
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(35, 0, 92, 0.8); /* Fondo oscuro semitransparente */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Overlay activo (visible) */
#menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Estilos del menú en el overlay */
.overlay-menu {
  list-style: none;
  text-align: center;
  padding: 0;
}

.overlay-menu li {
  margin: 1rem 0;
}

.overlay-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  transition: color 0.3s;
  font-weight: 400;
}

.overlay-menu li a:hover {
  color: #fba64b;
}

.hidden {
  opacity: 0.3;
  transform: translateY(30px); /* Pequeño desplazamiento hacia abajo */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}



/* Overlay inicial (oculto) */
#menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(35, 0, 92, 0.8); /* Fondo oscuro semitransparente */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Overlay activo (visible) */
#menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Estilos del menú en el overlay */
.overlay-menu {
  list-style: none;
  text-align: center;
  padding: 0;
}

.overlay-menu li {
  margin: 1rem 0;
}

.overlay-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Inter Display", "Inter Display Placeholder", sans-serif;
  transition: color 0.3s;
  font-weight: 400;
}

.overlay-menu li a:hover {
  color: #fba64b;
}

.hidden {
  opacity: 0.3;
  transform: translateY(30px); /* Pequeño desplazamiento hacia abajo */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.bg-ornament {
  position: relative;
    z-index: 0;

}