@import url("tokens.css");
@import url("base.css");
@import url("layout.css");
@import url("components.css");
@import url("utilities.css");





/*OUR SERVICES*/

.bd-placeholder-img {
  font-size: 4em;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

/* Botón para cambiar entre modo claro y oscuro */
.theme-icon-text-container {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente al centro */
  gap: 10px; /* Añade un espacio de 10 píxeles entre el icono y el texto */
}

.bi {
  vertical-align: 0rem;
}
  
.dl-icon-arrow {
  width: 32px;
  height: 32px;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}





#page-my-work {
  margin-top: 10rem;
}

/* === DESKTOP === */
#title-about {
  display: flex;
}

.gif-office-container {
  position: relative;
  width: 10rem; /* Ajusta el ancho según necesites */
  height: 8rem; /* Set a fixed height */
  overflow: hidden;
}

.gif-office-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  object-fit: cover; /* Cubre todo el contenedor */
  border: none;
}

@media (max-width: 768px) {
  .gif-office-container {
    width: 10rem; /* Ajusta el ancho según necesites */
    height: 8rem; /* Set a fixed height */
    align-items: center;
  }

  #title-about {
    flex-direction: column;
  }

  .colum-beside {
    flex-direction: column;
  }
} 

.colum-beside {
  display: flex;
}

.emoji-end {
  font-size: 4rem; /* Ajusta el tamaño según necesites */
  margin-left: 1rem;
}

.emoji-start {
  font-size: 4rem; /* Ajusta el tamaño según necesites */
  margin-right: 2rem;
}

/* Media query para móviles (ancho máximo de 768px, por ejemplo) */
@media (max-width: 991px) {
  .emoji-start {
    margin-right: 0; /* Anula el margen en móviles */
  }

  .emoji-end {
    margin-right: 0; /* Anula el margen en móviles */
}
}

.emoji-container {
  margin-bottom: 0.5rem;
}

.icon-center {
  display: flex;
  justify-content: center;
}

.title-margin-top {
  margin-top: 0.4rem;
  margin-bottom: 0rem;
}

/* Para desktop: 3 columnas */
.row-rectangles-v1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 1rem; /* Espaciado entre las tarjetas */
}

/* Solo afecta a col-4 dentro de row-rectangles */
.row-rectangles-v1 .col-4-rectangles {
  width: 100%; /* Hace que cada col-4 se adapte al grid */
}

/* Para tablet: 2 columnas */
@media (max-width: 991px) {
  .row-rectangles-v1 {
    grid-template-columns: repeat(2, 1fr); /* En tablet, 2 columnas */
  }
}

/* Para móvil: cada col-4 ocupa el ancho completo */
@media (max-width: 768px) {
  .row-rectangles-v1 {
    grid-template-columns: repeat(1, 1fr); /* Solo una columna en móvil */
  }
}

/* Para desktop: 3 columnas */
.row-rectangles {
  display: flex;
  gap: 1rem; /* Espaciado entre las tarjetas */
}

.rectangle {
  background-color: rgb(96, 77, 128, 0.2);
  padding: 2rem;
  border-radius: 0.8rem;
  display: flex; /* Enable Flexbox for the rectangle */
  justify-content: space-between; /* Distribute space between content and emoji */
}

.rectangle-2 {
  background-color: rgb(96, 77, 128, 0.2);
  border-radius: 0.8rem;
  justify-content: space-between; /* Distribute space between content and emoji */
  padding: 1rem 1.8rem;
}

.responsive-video {
  max-width: 100%;
  height: auto;
}

.center-image {
  text-align: center;
}

.images-gap {
  display: flex; /* O display: grid; según tu diseño */
  gap: 1rem; /* Ajusta el valor según necesites */
}

.span-block {
  display: block; /* Convierte el span en bloque */
}

.emoji-meh-container {
  display: flex; /* Enable Flexbox for the emoji container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#next-project {
  text-align: center;
  padding: 4rem 0rem;
}

#next-project h2{
  text-align: center;
  padding: 2rem;
}

#next-project a {
  margin: 2rem;
}

.spotlight {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.spotlight::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0.1em;
  width: 100%;
  height: 0.1em;
  background-color: #FFE6FA; /* Color del resaltado */
  z-index: -1;
  transform: scaleX(0);  /* Inicia invisible */
  transform-origin: left;
  transition: transform 0.6s ease-out;
}

/* La clase 'visible' se agregará con JS para mostrar el efecto */
.spotlight.visible::before {
  transform: scaleX(1); /* Se despliega al aparecer en pantalla */
}

.fade-in {
  opacity: 0.3; /* En lugar de invisible, empieza con baja opacidad */
  transform: translateY(20px); /* Desplazado hacia abajo */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1; /* Se hace completamente visible */
  transform: translateY(0); /* Sube a su posición normal */
}

.font-weight-bold {
  font-weight: 600;
}

.alert-info {
  border: 1px solid #4dd0e1; /* Un borde azul más oscuro */
  padding: 1rem;
  border-radius: 0.25rem;
}

.callout-info-raya {
  border-left: 4px solid #4dd0e1; /* Ajusta el grosor y el color según tus preferencias */
  padding-left: 1rem; /* Agrega un poco de espacio entre la raya y el texto */
  /* ... otros estilos del callout ... */
}

.fs-6 {
  font-size: 1rem !important;
  margin-bottom: 0;
}